body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: #f4f6f8;
  color: #333;
}

header {
  background: #0a2540;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.container {
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  max-width: 900px;
  margin: 20px auto;
}

/* VIDEO */
.video-box {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.video-box img {
  width: 320px;
  height: 240px;
  border-radius: 10px;
  border: 3px solid #0a2540;
  background: black;
}

/* CONTROLS */
.controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.panel {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.panel h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #0a2540;
}

button {
  padding: 10px 15px;
  margin: 5px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #0a2540;
  color: white;
}

button:hover {
  background: #163d6b;
}

.pump-btn {
  background: #c62828;
}

.pump-btn:hover {
  background: #a61c1c;
}

/* STATUS 
.status {
  background: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  font-size: 16px;
} */

/* CAMERA CONNECT BUTTON */
.camera-control {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
}

#connectCameraBtn {
  padding: 12px 25px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 8px;
  background: #0a2540;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

#connectCameraBtn:hover {
  background: #163d6b;
}

/* MODE SELECTION */
.mode-section {
  margin: 20px auto;
  padding: 15px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  border-top: 1px solid #ddd;
}

.mode-section h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

.mode-options {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.mode-option {
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.mode-option input[type="radio"] {
  accent-color: #007bff; /* modern blue */
}

/*
footer {
  margin-top: 25px;
  text-align: center;
  font-size: 14px;
  color: #555;
}*/

/* MOBILE */
@media (max-width: 768px) {
  .controls {
    grid-template-columns: 1fr;
  }
}




